{
    "openapi": "3.0.0",
    "info": {
        "title": "sevDesk Booking-Category API (e.g. SevSequence)",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://my.sevdesk.de/api/v1",
            "description": "Our main application instance which most of our customers work with"
        },
        {
            "url": "https://my.pebesmart.ch/api/v1",
            "description": "Our swiss application instance, hosted and maintained by smart seven AG"
        },
        {
            "url": "http://sevdesk.local/api/v1",
            "description": "sevDesk internal local instance"
        }
    ],
    "paths": {
        "/AccountingType": {
            "get": {
                "tags": [
                    "AccountingType"
                ],
                "summary": "Get available accounting types",
                "operationId": "getAccountingTypes",
                "parameters": [
                    {
                        "name": "embed",
                        "in": "query",
                        "description": "Embed additional parameters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "useClientAccountingChart",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "default": 9999,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "onlyOwn",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns accounting types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "objectName": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "skr03": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "skr04": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "skrAt": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "skrCh": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "skrGr": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "translationCode": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "parent": {
                                                        "type": "object",
                                                        "nullable": true,
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        }
                                                    },
                                                    "accountingSystemNumber": {
                                                        "type": "object",
                                                        "nullable": true,
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "number": {
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        }
    }
}